* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.triggers {

  width: 100%;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  bottom: 30px;
  transform: translateX(-50%);
  left: 50%;
}
.triggers span {
  cursor: pointer;
  font-weight: 600;
  font-size: 2.5rem;
  color: #ccc;
  padding: 2px 4px;
  margin: 0 20px;
  display: inline-block;
  transition: all .5s;
}
span[data-disable="true"] {
  opacity: 0.3;
  pointer-events: none;
}
span:hover {
  color: #00ffd9;
  transform: scale(1.07);
  transition: 1s;
}
@media (max-width:769px) {
  html {
    font-size: 55%;
  }
  span {
    font-weight: 700;
    margin: 0;
    font-size: 2rem;
    display: inline-block;
  }
}